h1{
    color: red;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(230, 230, 230);
}
.container-head{
    max-width: 1100px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin: 50px auto;
    padding: 50px;
    
}
.main-title{
    font-size: 50px;
    text-align: center;
}
.main-paragraph{
    font-style: italic;
    text-align: center;
}
figcaption{
    text-align: center;
}
.container-citacao{
    background-color: rgb(199, 199, 199);
    position: relative;
    margin: 50px auto;
    max-width: 1100px;
    padding: 10px;
    
}
blockquote{
    font-size: 30px;
}
.autor{
    font-style: italic;
}
.biografia-container{
    margin: 20px;
    padding: 20px;
}
.lista-container{
    margin: 20px;
    padding: 20px;    
}
.rodape-container{
    margin: 20px;
    padding: 20px; 
}

img{ /*importante!!!!*/
    width: fit-content;
    max-width: 100%;
    height: auto;
}

